/**
    File: homeStyles.css
    Author: Johnathan Dang, Johnny Fok, Arden Lee
**/
body {
    font-family: 'Comfortaa', cursive;

.title {
    /* border: 5px outset rgb(52, 181, 1);
    background-color: rgba(180, 236, 255, 0); */
    /* padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%; */
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-bottom: 0px;
}

header h1 {
    /* text-align: center;  */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
} */

header {
    background-color: hsl(122, 90%, 23%);
    color: #fff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1px;
    font-family: 'Arial', sans-serif;
}

header h1 {
    margin: 0;
    padding-bottom: 4px;
}

nav {
    /* dont delete, we need it */
    padding-bottom: 10px;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding-bottom: 10px; */
}

/* Styling for the buttons */
nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #f5ed0c;
    font-weight: bold;
    /* justify-content: center; */
}

.prompt {
    text-align: center;
    padding-bottom: 1px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

section
{
    border: 5px outset rgb(52, 181, 1);
    background-color: rgba(180, 236, 255, 0);
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    
}

main {
    padding: 20px;
    margin: 0;
}

table, th, td
{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    text-align: center;
    width: auto;
}

.clubContent {
    padding-left: 8px;
    padding-right: 8px;
}

.schoolContent {
    padding-left: 8px;
    padding-right: 8px;
}

.IndividualContent {
    padding-left: 8px;
    padding-right: 8px;
}


.home-container{
    /* background: url(../image/home.png), rgba(0,0,0,.7) no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
}

.home-container .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-container .home form{
    background-color: var(--white);
    width: 50rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.home-container .home form h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.home-container .home form p{
    text-align: left;
    font-size: 1.6rem;
    color: var(--light-color);
    padding-top: 1rem;
}

.home-container .home form p span{
    color: var(--blue);
}

.home-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: var(--light-bg);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}


footer {
    background-color: hsl(122, 90%, 23%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }}