body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(122, 90%, 23%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

 nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f5ed0c;
    font-weight: bold;
}

main {
    padding: 10px;
}


footer {
    background-color: hsl(122, 90%, 23%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }