* {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(122, 90%, 23%);
    color: #ffffff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 17px;
}

section
{
    border: 5px outset rgb(52, 181, 1);
    background-color: rgba(180, 236, 255, 0);
    /* these paddings are between the w3 card */
    padding-bottom: 10%; 
    padding-left: 10%;
    padding-right: 10%;
    
}

header h1 {
    padding-bottom: 15px;
    margin: 0;
}

nav {
    padding-bottom: 10px;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #f5ed0c;
    font-weight: bold;
}

main {
    padding: 20px;
}

/* section {
    max-width: 800px;
    margin: 0 auto;
} */

.w3-card-4 {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 10px;
}

.w3-container.w3-gray {
    background-color: #4c63af;
    color: white;
    /* padding: 16px; */
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.w3-container {
    padding: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.w3-input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.w3-btn {
    width: 100%;
    padding: 12px;
    background-color: #4c63af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.w3-btn:hover {
    background-color: #bbae39;
}

#createButton {
    margin-top: 16px;
}


@media screen and (max-width: 600px) {
    .w3-card-4 {
        width: 80%;
    }
}