* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(122, 90%, 23%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #f5ed0c;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

.w3-card-4 {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.w3-container.w3-gray {
    background-color: hsl(122, 90%, 23%);
    color: white;
    padding: 16px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.w3-container {
    padding: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.w3-input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid hsl(122, 90%, 23%);
    border-radius: 4px;
}   

.w3-btn {
    width: 100%;
    padding: 12px;
    background-color: hsl(122, 90%, 23%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.w3-btn:hover {
    background-color: #bbae39;
}

#createButton {
    margin-top: 16px;
}


@media screen and (max-width: 600px) {
    .w3-card-4 {
        width: 80%;
    }
}


footer {
    background-color: hsl(122, 90%, 23%);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add this to your existing stylesheet or create a new one */

.event-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.event-table th, .event-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.event-table th {
    background-color: #f2f2f2;
}


.popup-box {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
