/* fonts**/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/brands.min.js');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:#00843d;
    --blue:#01426a;
    --light-color: #777;
    --light-bg:#eee;
    --black:#2C2D2D;
    --white: #fff;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
    --border:.1rem solid rgba(0,0,0,.3);
}



*{
    font-family: 'Comfortaa', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

*::selection{
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-bg);
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
    text-shadow: 2px 2 ox 2px rgba(0,0,0,.2);
}

.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit 25rem);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.category .box-container .box{
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 1.5rem;
    backdrop-filter: var(--white);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.category .box-container .box i{
    height: 4.5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    background-color: var(--light-bg);
    text-align: center;
}

.category .box-container .box h3{
    font-size: 1.8rem;
    text-transform: capitalize;
    color: var(--black);
    padding-bottom: .5rem;
}

.category .box-container .box span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.category .box-container .box:hover{
    background-color: var(--black);
}

.category .box-container .box:hover h3{
    color: var(--white);
}

.category .box-container .box:hover span{
    color: var(--white);
}

.category .box-container .box:hover i{
    background-color: var(--white);
}

.events-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.events-container .box-container .box{
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    overflow-x: hidden;
}

.events-container .box-container .box .club{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.events-container .box-container .box .club img{
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.events-container .box-container .box .club h3{
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;

}

.events-container .box-container .box .club p{
    color: var(--light-color);
    font-size: 1.6rem;
}

.events-container .box-container .box .club .event-title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.events-container .box-container .box .club{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.events-container .box-container .box .club img{
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.events-container .box-container .box .club h3{
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;

}

.events-container .box-container .box .club p{
    color: var(--light-color);
    font-size: 1.6rem;
}

.events-container .box-container .box .club .event-title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* school**/
.events-container .box-container .box .school{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.events-container .box-container .box .school img{
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.events-container .box-container .box .school h3{
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;

}

.events-container .box-container .box .club p{
    color: var(--light-color);
    font-size: 1.6rem;
}

.events-container .box-container .box .school .event-title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.events-container .box-container .box .location{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--light-color);
}

/* sorority**/
.events-container .box-container .box .sorority{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.events-container .box-container .box .sorority img{
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.events-container .box-container .box .sorority h3{
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;

}

.events-container .box-container .box .sorority p{
    color: var(--light-color);
    font-size: 1.6rem;
}

.events-container .box-container .box .sorority .event-title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* individual**/
.events-container .box-container .box .individual{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.events-container .box-container .box .individual img{
    height: 6rem;
    width: 6rem;
    object-fit: contain;
}

.events-container .box-container .box .individual h3{
    font-size: 1.8rem;
    color: var(--black);
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-transform: capitalize;
    padding-bottom: .5rem;

}

.events-container .box-container .box .individual p{
    color: var(--light-color);
    font-size: 1.6rem;
}

.events-container .box-container .box .individual .event-title{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.events-container .box-container .box .location{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--light-color);
}

.events-container .box-container .box .location i{
    margin-right: .3rem;
    color: var(--main-color);
}

.events-container .box-container .box .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.2rem 0;
}

.events-container .box-container .box .tags p{
    padding: 1.2rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
}

.events-container .box-container .box .tags p i{
    margin-right: .5rem;
    color: var(--black);
}

.events-container .box-container .box .fa-heart{
    background-color: var(--light-bg);
    border-radius: .5rem;
    color: var(--light-color);
    font-size: 1.8rem;
    cursor: pointer;
    height: 4rem;
    width: 4.5rem;
    line-height: 4rem;
}

.events-container .box-container .box .fa-heart:hover{
    background-color: var(--black);
    color: var(--white);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: .5rem;
    text-transform: capitalize;
    text-align: center;
}

.btn:hover{
    background-color: var(--black);
}

.flex-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-btn{
    font-size: 2.7rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
.header .flex .logo{
    font-size: 2.2rem;
    color: var(--black);
}

.header .flex .logo i{
    margin-right: 2.5rem;
    color: var(--light-color);
}

.header .flex .navbar a{
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: var(--light-color);
    border-radius: .5rem;
    text-transform: capitalize;
}

.header .flex .navbar a:hover{
    background-color: var(--main-color);
    color: var(--white);
}

.home-container{
    background: url(../image/home.png), rgba(0,0,0,.7) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
}

.home-container .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-container .home form{
    background-color: var(--white);
    width: 50rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.home-container .home form h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.home-container .home form p{
    text-align: left;
    font-size: 1.6rem;
    color: var(--light-color);
    padding-top: 1rem;
}

.home-container .home form p span{
    color: var(--blue);
}

.home-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: var(--light-bg);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}

.job-filter form{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
}

.job-filter form .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.job-filter form .flex .box{
    flex: 1 1 40rem;
}

.job-filter form .flex .box p{
    font-size: 1.6rem;
    color: var(--light-color);
}

.job-filter form .flex .box p span{
    color: var(--blue);
}

.job-filter form .flex .box .input{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    color: var(--black);
    margin: 1rem 0;
    background-color:var(--light-bg);
    font-size: 1.8rem;
}

.job-filter form .dropdown-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.job-filter form .dropdown-container .dropdown{
    flex: 1 1 20rem;
    position: relative;
}

.job-filter form .dropdown-container .dropdown .output{
    width: 100%;
    background: var(--light-bg);
    border-radius: .5rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    text-transform: center;
    user-select: none;
    cursor: pointer;
}

.job-filter form .dropdown-container .dropdown .output:placeholder-shown{
    text-transform: capitalize;
}

.job-filter form .dropdown-container .dropdown .lists{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    z-index: 10;
    transition: .2s linear;
    transform: scaleY(0);
    transform-origin: top;
}

.job-filter form .dropdown-container .dropdown .lists .items{
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--black);
    cursor: pointer;
}

.job-filter form .dropdown-container .dropdown .lists .items:hover{
    background-color: var(--light-bg);
}






























.footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.footer .grid .box h3{
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.footer .grid .box a{
    display: block;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: var(--light-color);
}

.footer .grid .box a i{
    color: var(--main-color);
    margin-right: .8rem;
    transition: .2s linear;
}

.footer .grid .box a:hover i{
    margin-right: 2rem;
}




/*media pre**/

@media (max-width:768px) {

    #menu-btn{
        display: inline-block;
    }
    
    .header .flex .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-top: var(--border);
        background-color: var(--white);
        padding: 1rem .5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        display: block;
        padding: 1.5rem 2rem;
    }

    .category .box-container{
        grid-template-columns: repeat(auto-fit, 16.5rem);
    }

    .category .box-container .box{
        flex-flow: column;
        text-align: center;
    }
}

@media (max-width:450px) {

    html{
        font-size: 50%;
    }
    
}