/* fonts**/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/brands.min.js');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:#00843d;
    --blue:#01426a;
    --light-color: #777;
    --light-bg:#eee;
    --black:#2C2D2D;
    --white: #fff;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.2);
    --border:.1rem solid rgba(0,0,0,.3);
}



*{
    font-family: 'Comfortaa', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

*::selection{
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-bg);
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: .5rem;
    text-transform: capitalize;
    text-align: center;
}

.btn:hover{
    background-color: var(--black);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-btn{
    font-size: 2.7rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
.header .flex .logo{
    font-size: 2.2rem;
    color: var(--black);
}

.header .flex .logo i{
    margin-right: .5rem;
    color: var(--light-color);
}

.header .flex .navbar a{
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    color: var(--light-color);
    border-radius: .5rem;
    text-transform: capitalize;
}

.header .flex .navbar a:hover{
    background-color: var(--main-color);
    color: var(--white);
}

.home-container{
    background: url(../image/home.png), rgba(0,0,0,.7) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;
}

.home-container .home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-container .home form{
    background-color: var(--white);
    width: 50rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.home-container .home form h3{
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.home-container .home form p{
    text-align: left;
    font-size: 1.6rem;
    color: var(--light-color);
    padding-top: 1rem;
}

.home-container .home form p span{
    color: var(--blue);
}

.home-container .home form .input{
    width: 100%;
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: var(--light-bg);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}










































.footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.footer .grid .box h3{
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.footer .grid .box a{
    display: block;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: var(--light-color);
}

.footer .grid .box a i{
    color: var(--main-color);
    margin-right: .8rem;
    transition: .2s linear;
}

.footer .grid .box a:hover i{
    margin-right: 2rem;
}




/*media pre**/

@media (max-width:768px) {

    #menu-btn{
        display: inline-block;
    }
    
    .header .flex .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-top: var(--border);
        background-color: var(--white);
        padding: 1rem .5rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .flex .navbar a{
        display: block;
        padding: 1.5rem 2rem;
    }

    .header .flex .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media (max-width:450px) {

    html{
        font-size: 50%;
    }
    
}